name: Check, Lint, Test, Build

on: push

jobs:
  check:
    name: Check
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  lints:
    name: Lints
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy -- -D warnings

  build:
    name: Build
    runs-on: windows-2022
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo build
        run: cargo build

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-squad-ready-debug
          path: target/x86_64-pc-windows-msvc/debug/arcdps_squad_ready.dll

  sign-debug:
    name: Sign Debug Build
    runs-on: windows-2022
    environment: release
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: arcdps-squad-ready-debug

      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sign files with Trusted Signing
        uses: azure/trusted-signing-action@v0.5.0
        with:
          endpoint: https://weu.codesigning.azure.net/
          trusted-signing-account-name: jsc-trustedsigning
          certificate-profile-name: public-trust
          files: ${{ github.workspace }}\arcdps_squad_ready.dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256
          exclude-environment-credential: true
          exclude-workload-identity-credential: true
          exclude-managed-identity-credential: true
          exclude-shared-token-cache-credential: true
          exclude-visual-studio-credential: true
          exclude-visual-studio-code-credential: true
          exclude-azure-cli-credential: false
          exclude-azure-powershell-credential: true
          exclude-azure-developer-cli-credential: true
          exclude-interactive-browser-credential: true

      - name: Upload signed build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-squad-ready-debug-signed
          path: arcdps_squad_ready.dll

  build-release:
    name: Build Release
    runs-on: windows-2022
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run cargo build --release
        run: cargo build --release

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-squad-ready-release
          path: target/x86_64-pc-windows-msvc/release/arcdps_squad_ready.dll

  sign-and-release:
    name: Sign and Release
    runs-on: windows-2022
    if: startsWith(github.ref, 'refs/tags/')
    needs: build-release
    environment: release
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: arcdps-squad-ready-release

      - name: Azure login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sign files with Trusted Signing
        uses: azure/trusted-signing-action@v0.5.0
        with:
          endpoint: https://weu.codesigning.azure.net/
          trusted-signing-account-name: jsc-trustedsigning
          certificate-profile-name: public-trust
          files: ${{ github.workspace }}\arcdps_squad_ready.dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256
          exclude-environment-credential: true
          exclude-workload-identity-credential: true
          exclude-managed-identity-credential: true
          exclude-shared-token-cache-credential: true
          exclude-visual-studio-credential: true
          exclude-visual-studio-code-credential: true
          exclude-azure-cli-credential: false
          exclude-azure-powershell-credential: true
          exclude-azure-developer-cli-credential: true
          exclude-interactive-browser-credential: true

      - name: Upload signed build
        uses: actions/upload-artifact@v4
        with:
          name: arcdps-squad-ready-release-signed
          path: arcdps_squad_ready.dll

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: arcdps_squad_ready.dll
